$slider-bg: #000000;
$slider-color: #000000;
$slider-height: 10px;
$slider-handle-size: 20px;

.range-slider-container {
  display: flex;
  flex-direction: row;  
  align-items: center;
  flex-wrap: nowrap;
  // margin: 20px 0;

  &__input-div {
    display: flex;
    flex-direction: row;  
    align-items: center;
    flex-wrap: nowrap;
    width: 50px;
    min-width: 50px;
    // display: inline-flex;
    margin: 0px 20px;
  }

  &__input {
    width: 100%;
    border: none;
    appearance: textfield;
    text-align: right;
    font-size: 16px;
  }

}

.range-slider {
  position: relative;
  min-width: 150px;
  height: $slider-height;
  background-color: $slider-bg;
  border-radius: $slider-height;
  width: 100%;
  cursor: pointer;
  
  &__bar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $slider-color;
    border-radius: $slider-height;
  }
  
  &__handle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // right: calc(-1 * $slider-handle-size / 2);
    width: $slider-handle-size;
    height: $slider-handle-size;
    background-color: $slider-color;
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    &:hover {
      width: calc(#{$slider-handle-size} * 1.2);
      height: calc(#{$slider-handle-size} * 1.2);
      // cursor: grab;
    }
  }

}
